body {
	margin: 0 auto;
	width: 800px;
	padding: 0;
	background: #7a2122 url('../images/body_bg.gif') repeat-x top;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}
